# Authentication
KINDE_ISSUER_URL=""
KINDE_CLIENT_ID=""
KINDE_CLIENT_SECRET=""
KINDE_SITE_URL=""
KINDE_POST_LOGOUT_REDIRECT_URL=""
KINDE_POST_LOGIN_REDIRECT_URL=""

# AWS - S3 Bucket
AWS_REGION=""
AWS_BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
NEXT_PUBLIC_S3_BUCKET=""
NEXT_PUBLIC_S3_BASE_URL=""

# Database
DATABASE_URL=""
